@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

/*카테고리*/

nav{
    position: fixed;
    height: 62px;
    width: 100%;
    box-shadow : 0 4px 20px rgba(0, 0, 0, 0.1) ;
    background-color: white;

}

.big-header{
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow : 0 4px 20px rgba(0, 0, 0, 0.1) ;
}

a{
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A7A7A7;
    transition: 0.3s;
}

a:hover{
    transition: 0.5s;
    font-weight: 700;
    color: #1A1A1A;
}

li{
    list-style: none;
}

.min-header{
    height: 60px;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.side-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 30px;  
  }


/*메인 페이지*/
.MAIN_page{
    
    height: 1000px;
    background-image: url('https://i.postimg.cc/T11ysXkq/nordwood-themes-Sf2-TRU7-Sh-O8-unsplash-1.png');
    background-size: cover;
}

.text_box1{
    padding-top: 240px;
    width: 620px;
    height: 140px;
    border-color: white;
    border-bottom: 2;
    margin: auto;
    border-bottom-width:10px

}

.text_box1 h3{
    font-size: 54px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    padding-top: 60px;
    text-align: center;
    color: white;

}

.text_box2{
    width: 620px;
    height: 140px;
    border-color: white;
    margin: auto;
    border-top: 2px solid white;

}

h4{
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-top: 26px;
    text-align: center;
    color: white;
    line-height: 2;
}

.text_box3{
    padding-top: 240px;
    margin: auto;
    text-align: center;


}



/*풋터*/
footer{
    background-color: #1A1A1A;
}

h6{
    max-width: 600px;
    word-break: keep-all;
    font-size: 14px;
    font-weight: 400;

    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 50px;
    line-height: 2;


}

.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 160px;
    padding-top: 28px;
}

.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #A7A7A7;
    margin-left: 20px;
    margin-left: 160px;
    margin-top: 28px;
    padding-bottom: 28px;
}

.second a{
    float: left;
    margin: 20px;
    padding: 10px;

}